*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  color: #292929;
  font-family: sans-serif;
  font-size: 1rem;
}

a {
  color: #008dff;
}

button {
  font-size: 1rem;
  cursor: pointer;
}

.text-blue {
  color: #008dff !important;
}

.bg-blue {
  background-color: #008dff !important;
}

.text-pink {
  color: #ec00b8 !important;
}

.bg-pink {
  background-color: #ec00b8 !important;
}

.text-red {
  color: #ff0071 !important;
}

.bg-red {
  background-color: #ff0071 !important;
}

.text-orange {
  color: #ff683e !important;
}

.bg-orange {
  background-color: #ff683e !important;
}

.text-yellow {
  color: #fbc445 !important;
}

.bg-yellow {
  background-color: #fbc445 !important;
}

.text-green {
  color: #00ce9a !important;
}

.bg-green {
  background-color: #00ce9a !important;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background-color: #000 !important;
}

.text-white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

.text-dark {
  color: #292929 !important;
}

.bg-dark {
  background-color: #292929 !important;
}

.text-light {
  color: #e9e9e9 !important;
}

.bg-light {
  background-color: #e9e9e9 !important;
}

.text-gray {
  color: #afa8ba !important;
}

.bg-gray {
  background-color: #afa8ba !important;
}

.text-primary {
  color: #008dff !important;
}

.bg-primary {
  background-color: #008dff !important;
}

.text-secondary {
  color: #ff0071 !important;
}

.bg-secondary {
  background-color: #ff0071 !important;
}

.text-success {
  color: #00ce9a !important;
}

.bg-success {
  background-color: #00ce9a !important;
}

.text-warning {
  color: #fbc445 !important;
}

.bg-warning {
  background-color: #fbc445 !important;
}

.text-danger {
  color: #ff0071 !important;
}

.bg-danger {
  background-color: #ff0071 !important;
}

.text-disabled {
  color: #afa8ba !important;
}

.bg-disabled {
  background-color: #afa8ba !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.align-content-center {
  align-content: center;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-normal {
  align-content: normal;
}

.align-content-baseline {
  align-content: baseline;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-normal {
  align-items: normal;
}

.align-items-baseline {
  align-items: baseline;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-normal {
  align-self: normal;
}

.align-self-baseline {
  align-self: baseline;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-normal {
  justify-content: normal;
}

.justify-content-baseline {
  justify-content: baseline;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-start {
  justify-items: flex-start;
}

.justify-items-end {
  justify-items: flex-end;
}

.justify-items-normal {
  justify-items: normal;
}

.justify-items-baseline {
  justify-items: baseline;
}

.justify-items-between {
  justify-items: space-between;
}

.justify-items-around {
  justify-items: space-around;
}

.justify-items-evenly {
  justify-items: space-evenly;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-start {
  justify-self: flex-start;
}

.justify-self-end {
  justify-self: flex-end;
}

.justify-self-normal {
  justify-self: normal;
}

.justify-self-baseline {
  justify-self: baseline;
}

.justify-self-between {
  justify-self: space-between;
}

.justify-self-around {
  justify-self: space-around;
}

.justify-self-evenly {
  justify-self: space-evenly;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  max-width: 100%;
}

.row .col {
  flex: 1;
}

.row .col-1 {
  flex: 0 0 auto;
  width: calc(1 / 24 * 100%);
}

.row .col-2 {
  flex: 0 0 auto;
  width: calc(2 / 24 * 100%);
}

.row .col-3 {
  flex: 0 0 auto;
  width: calc(3 / 24 * 100%);
}

.row .col-4 {
  flex: 0 0 auto;
  width: calc(4 / 24 * 100%);
}

.row .col-5 {
  flex: 0 0 auto;
  width: calc(5 / 24 * 100%);
}

.row .col-6 {
  flex: 0 0 auto;
  width: calc(6 / 24 * 100%);
}

.row .col-7 {
  flex: 0 0 auto;
  width: calc(7 / 24 * 100%);
}

.row .col-8 {
  flex: 0 0 auto;
  width: calc(8 / 24 * 100%);
}

.row .col-9 {
  flex: 0 0 auto;
  width: calc(9 / 24 * 100%);
}

.row .col-10 {
  flex: 0 0 auto;
  width: calc(10 / 24 * 100%);
}

.row .col-11 {
  flex: 0 0 auto;
  width: calc(11 / 24 * 100%);
}

.row .col-12 {
  flex: 0 0 auto;
  width: calc(12 / 24 * 100%);
}

.row .col-13 {
  flex: 0 0 auto;
  width: calc(13 / 24 * 100%);
}

.row .col-14 {
  flex: 0 0 auto;
  width: calc(14 / 24 * 100%);
}

.row .col-15 {
  flex: 0 0 auto;
  width: calc(15 / 24 * 100%);
}

.row .col-16 {
  flex: 0 0 auto;
  width: calc(16 / 24 * 100%);
}

.row .col-17 {
  flex: 0 0 auto;
  width: calc(17 / 24 * 100%);
}

.row .col-18 {
  flex: 0 0 auto;
  width: calc(18 / 24 * 100%);
}

.row .col-19 {
  flex: 0 0 auto;
  width: calc(19 / 24 * 100%);
}

.row .col-20 {
  flex: 0 0 auto;
  width: calc(20 / 24 * 100%);
}

.row .col-21 {
  flex: 0 0 auto;
  width: calc(21 / 24 * 100%);
}

.row .col-22 {
  flex: 0 0 auto;
  width: calc(22 / 24 * 100%);
}

.row .col-23 {
  flex: 0 0 auto;
  width: calc(23 / 24 * 100%);
}

.row .col-24 {
  flex: 0 0 auto;
  width: calc(24 / 24 * 100%);
}

@media (min-width: 480px) {
  .row .col-sm-1 {
    flex: 0 0 auto;
    width: calc(1 / 24 * 100%);
  }
  .row .col-sm-2 {
    flex: 0 0 auto;
    width: calc(2 / 24 * 100%);
  }
  .row .col-sm-3 {
    flex: 0 0 auto;
    width: calc(3 / 24 * 100%);
  }
  .row .col-sm-4 {
    flex: 0 0 auto;
    width: calc(4 / 24 * 100%);
  }
  .row .col-sm-5 {
    flex: 0 0 auto;
    width: calc(5 / 24 * 100%);
  }
  .row .col-sm-6 {
    flex: 0 0 auto;
    width: calc(6 / 24 * 100%);
  }
  .row .col-sm-7 {
    flex: 0 0 auto;
    width: calc(7 / 24 * 100%);
  }
  .row .col-sm-8 {
    flex: 0 0 auto;
    width: calc(8 / 24 * 100%);
  }
  .row .col-sm-9 {
    flex: 0 0 auto;
    width: calc(9 / 24 * 100%);
  }
  .row .col-sm-10 {
    flex: 0 0 auto;
    width: calc(10 / 24 * 100%);
  }
  .row .col-sm-11 {
    flex: 0 0 auto;
    width: calc(11 / 24 * 100%);
  }
  .row .col-sm-12 {
    flex: 0 0 auto;
    width: calc(12 / 24 * 100%);
  }
  .row .col-sm-13 {
    flex: 0 0 auto;
    width: calc(13 / 24 * 100%);
  }
  .row .col-sm-14 {
    flex: 0 0 auto;
    width: calc(14 / 24 * 100%);
  }
  .row .col-sm-15 {
    flex: 0 0 auto;
    width: calc(15 / 24 * 100%);
  }
  .row .col-sm-16 {
    flex: 0 0 auto;
    width: calc(16 / 24 * 100%);
  }
  .row .col-sm-17 {
    flex: 0 0 auto;
    width: calc(17 / 24 * 100%);
  }
  .row .col-sm-18 {
    flex: 0 0 auto;
    width: calc(18 / 24 * 100%);
  }
  .row .col-sm-19 {
    flex: 0 0 auto;
    width: calc(19 / 24 * 100%);
  }
  .row .col-sm-20 {
    flex: 0 0 auto;
    width: calc(20 / 24 * 100%);
  }
  .row .col-sm-21 {
    flex: 0 0 auto;
    width: calc(21 / 24 * 100%);
  }
  .row .col-sm-22 {
    flex: 0 0 auto;
    width: calc(22 / 24 * 100%);
  }
  .row .col-sm-23 {
    flex: 0 0 auto;
    width: calc(23 / 24 * 100%);
  }
  .row .col-sm-24 {
    flex: 0 0 auto;
    width: calc(24 / 24 * 100%);
  }
}

@media (min-width: 768px) {
  .row .col-md-1 {
    flex: 0 0 auto;
    width: calc(1 / 24 * 100%);
  }
  .row .col-md-2 {
    flex: 0 0 auto;
    width: calc(2 / 24 * 100%);
  }
  .row .col-md-3 {
    flex: 0 0 auto;
    width: calc(3 / 24 * 100%);
  }
  .row .col-md-4 {
    flex: 0 0 auto;
    width: calc(4 / 24 * 100%);
  }
  .row .col-md-5 {
    flex: 0 0 auto;
    width: calc(5 / 24 * 100%);
  }
  .row .col-md-6 {
    flex: 0 0 auto;
    width: calc(6 / 24 * 100%);
  }
  .row .col-md-7 {
    flex: 0 0 auto;
    width: calc(7 / 24 * 100%);
  }
  .row .col-md-8 {
    flex: 0 0 auto;
    width: calc(8 / 24 * 100%);
  }
  .row .col-md-9 {
    flex: 0 0 auto;
    width: calc(9 / 24 * 100%);
  }
  .row .col-md-10 {
    flex: 0 0 auto;
    width: calc(10 / 24 * 100%);
  }
  .row .col-md-11 {
    flex: 0 0 auto;
    width: calc(11 / 24 * 100%);
  }
  .row .col-md-12 {
    flex: 0 0 auto;
    width: calc(12 / 24 * 100%);
  }
  .row .col-md-13 {
    flex: 0 0 auto;
    width: calc(13 / 24 * 100%);
  }
  .row .col-md-14 {
    flex: 0 0 auto;
    width: calc(14 / 24 * 100%);
  }
  .row .col-md-15 {
    flex: 0 0 auto;
    width: calc(15 / 24 * 100%);
  }
  .row .col-md-16 {
    flex: 0 0 auto;
    width: calc(16 / 24 * 100%);
  }
  .row .col-md-17 {
    flex: 0 0 auto;
    width: calc(17 / 24 * 100%);
  }
  .row .col-md-18 {
    flex: 0 0 auto;
    width: calc(18 / 24 * 100%);
  }
  .row .col-md-19 {
    flex: 0 0 auto;
    width: calc(19 / 24 * 100%);
  }
  .row .col-md-20 {
    flex: 0 0 auto;
    width: calc(20 / 24 * 100%);
  }
  .row .col-md-21 {
    flex: 0 0 auto;
    width: calc(21 / 24 * 100%);
  }
  .row .col-md-22 {
    flex: 0 0 auto;
    width: calc(22 / 24 * 100%);
  }
  .row .col-md-23 {
    flex: 0 0 auto;
    width: calc(23 / 24 * 100%);
  }
  .row .col-md-24 {
    flex: 0 0 auto;
    width: calc(24 / 24 * 100%);
  }
}

@media (min-width: 1024px) {
  .row .col-lg-1 {
    flex: 0 0 auto;
    width: calc(1 / 24 * 100%);
  }
  .row .col-lg-2 {
    flex: 0 0 auto;
    width: calc(2 / 24 * 100%);
  }
  .row .col-lg-3 {
    flex: 0 0 auto;
    width: calc(3 / 24 * 100%);
  }
  .row .col-lg-4 {
    flex: 0 0 auto;
    width: calc(4 / 24 * 100%);
  }
  .row .col-lg-5 {
    flex: 0 0 auto;
    width: calc(5 / 24 * 100%);
  }
  .row .col-lg-6 {
    flex: 0 0 auto;
    width: calc(6 / 24 * 100%);
  }
  .row .col-lg-7 {
    flex: 0 0 auto;
    width: calc(7 / 24 * 100%);
  }
  .row .col-lg-8 {
    flex: 0 0 auto;
    width: calc(8 / 24 * 100%);
  }
  .row .col-lg-9 {
    flex: 0 0 auto;
    width: calc(9 / 24 * 100%);
  }
  .row .col-lg-10 {
    flex: 0 0 auto;
    width: calc(10 / 24 * 100%);
  }
  .row .col-lg-11 {
    flex: 0 0 auto;
    width: calc(11 / 24 * 100%);
  }
  .row .col-lg-12 {
    flex: 0 0 auto;
    width: calc(12 / 24 * 100%);
  }
  .row .col-lg-13 {
    flex: 0 0 auto;
    width: calc(13 / 24 * 100%);
  }
  .row .col-lg-14 {
    flex: 0 0 auto;
    width: calc(14 / 24 * 100%);
  }
  .row .col-lg-15 {
    flex: 0 0 auto;
    width: calc(15 / 24 * 100%);
  }
  .row .col-lg-16 {
    flex: 0 0 auto;
    width: calc(16 / 24 * 100%);
  }
  .row .col-lg-17 {
    flex: 0 0 auto;
    width: calc(17 / 24 * 100%);
  }
  .row .col-lg-18 {
    flex: 0 0 auto;
    width: calc(18 / 24 * 100%);
  }
  .row .col-lg-19 {
    flex: 0 0 auto;
    width: calc(19 / 24 * 100%);
  }
  .row .col-lg-20 {
    flex: 0 0 auto;
    width: calc(20 / 24 * 100%);
  }
  .row .col-lg-21 {
    flex: 0 0 auto;
    width: calc(21 / 24 * 100%);
  }
  .row .col-lg-22 {
    flex: 0 0 auto;
    width: calc(22 / 24 * 100%);
  }
  .row .col-lg-23 {
    flex: 0 0 auto;
    width: calc(23 / 24 * 100%);
  }
  .row .col-lg-24 {
    flex: 0 0 auto;
    width: calc(24 / 24 * 100%);
  }
}

@media (min-width: 1200px) {
  .row .col-xl-1 {
    flex: 0 0 auto;
    width: calc(1 / 24 * 100%);
  }
  .row .col-xl-2 {
    flex: 0 0 auto;
    width: calc(2 / 24 * 100%);
  }
  .row .col-xl-3 {
    flex: 0 0 auto;
    width: calc(3 / 24 * 100%);
  }
  .row .col-xl-4 {
    flex: 0 0 auto;
    width: calc(4 / 24 * 100%);
  }
  .row .col-xl-5 {
    flex: 0 0 auto;
    width: calc(5 / 24 * 100%);
  }
  .row .col-xl-6 {
    flex: 0 0 auto;
    width: calc(6 / 24 * 100%);
  }
  .row .col-xl-7 {
    flex: 0 0 auto;
    width: calc(7 / 24 * 100%);
  }
  .row .col-xl-8 {
    flex: 0 0 auto;
    width: calc(8 / 24 * 100%);
  }
  .row .col-xl-9 {
    flex: 0 0 auto;
    width: calc(9 / 24 * 100%);
  }
  .row .col-xl-10 {
    flex: 0 0 auto;
    width: calc(10 / 24 * 100%);
  }
  .row .col-xl-11 {
    flex: 0 0 auto;
    width: calc(11 / 24 * 100%);
  }
  .row .col-xl-12 {
    flex: 0 0 auto;
    width: calc(12 / 24 * 100%);
  }
  .row .col-xl-13 {
    flex: 0 0 auto;
    width: calc(13 / 24 * 100%);
  }
  .row .col-xl-14 {
    flex: 0 0 auto;
    width: calc(14 / 24 * 100%);
  }
  .row .col-xl-15 {
    flex: 0 0 auto;
    width: calc(15 / 24 * 100%);
  }
  .row .col-xl-16 {
    flex: 0 0 auto;
    width: calc(16 / 24 * 100%);
  }
  .row .col-xl-17 {
    flex: 0 0 auto;
    width: calc(17 / 24 * 100%);
  }
  .row .col-xl-18 {
    flex: 0 0 auto;
    width: calc(18 / 24 * 100%);
  }
  .row .col-xl-19 {
    flex: 0 0 auto;
    width: calc(19 / 24 * 100%);
  }
  .row .col-xl-20 {
    flex: 0 0 auto;
    width: calc(20 / 24 * 100%);
  }
  .row .col-xl-21 {
    flex: 0 0 auto;
    width: calc(21 / 24 * 100%);
  }
  .row .col-xl-22 {
    flex: 0 0 auto;
    width: calc(22 / 24 * 100%);
  }
  .row .col-xl-23 {
    flex: 0 0 auto;
    width: calc(23 / 24 * 100%);
  }
  .row .col-xl-24 {
    flex: 0 0 auto;
    width: calc(24 / 24 * 100%);
  }
}

.m-0 {
  margin: calc(0.25rem * 0) !important;
}

.mx-0 {
  margin-left: calc(0.25rem * 0) !important;
  margin-right: calc(0.25rem * 0) !important;
}

.my-0 {
  margin-top: calc(0.25rem * 0) !important;
  margin-bottom: calc(0.25rem * 0) !important;
}

.ml-0 {
  margin-left: calc(0.25rem * 0) !important;
}

.mr-0 {
  margin-right: calc(0.25rem * 0) !important;
}

.mt-0 {
  margin-top: calc(0.25rem * 0) !important;
}

.mb-0 {
  margin-bottom: calc(0.25rem * 0) !important;
}

.m-n0 {
  margin: calc(-0.25rem * 0) !important;
}

.mx-n0 {
  margin-left: calc(-0.25rem * 0) !important;
  margin-right: calc(-0.25rem * 0) !important;
}

.my-n0 {
  margin-top: calc(-0.25rem * 0) !important;
  margin-bottom: calc(-0.25rem * 0) !important;
}

.ml-n0 {
  margin-left: calc(-0.25rem * 0) !important;
}

.mr-n0 {
  margin-right: calc(-0.25rem * 0) !important;
}

.mt-n0 {
  margin-top: calc(-0.25rem * 0) !important;
}

.mb-n0 {
  margin-bottom: calc(-0.25rem * 0) !important;
}

.p-0 {
  padding: calc(0.25rem * 0) !important;
}

.px-0 {
  padding-left: calc(0.25rem * 0) !important;
  padding-right: calc(0.25rem * 0) !important;
}

.py-0 {
  padding-top: calc(0.25rem * 0) !important;
  padding-bottom: calc(0.25rem * 0) !important;
}

.pl-0 {
  padding-left: calc(0.25rem * 0) !important;
}

.pr-0 {
  padding-right: calc(0.25rem * 0) !important;
}

.pt-0 {
  padding-top: calc(0.25rem * 0) !important;
}

.pb-0 {
  padding-bottom: calc(0.25rem * 0) !important;
}

.m-1 {
  margin: calc(0.25rem * 1) !important;
}

.mx-1 {
  margin-left: calc(0.25rem * 1) !important;
  margin-right: calc(0.25rem * 1) !important;
}

.my-1 {
  margin-top: calc(0.25rem * 1) !important;
  margin-bottom: calc(0.25rem * 1) !important;
}

.ml-1 {
  margin-left: calc(0.25rem * 1) !important;
}

.mr-1 {
  margin-right: calc(0.25rem * 1) !important;
}

.mt-1 {
  margin-top: calc(0.25rem * 1) !important;
}

.mb-1 {
  margin-bottom: calc(0.25rem * 1) !important;
}

.m-n1 {
  margin: calc(-0.25rem * 1) !important;
}

.mx-n1 {
  margin-left: calc(-0.25rem * 1) !important;
  margin-right: calc(-0.25rem * 1) !important;
}

.my-n1 {
  margin-top: calc(-0.25rem * 1) !important;
  margin-bottom: calc(-0.25rem * 1) !important;
}

.ml-n1 {
  margin-left: calc(-0.25rem * 1) !important;
}

.mr-n1 {
  margin-right: calc(-0.25rem * 1) !important;
}

.mt-n1 {
  margin-top: calc(-0.25rem * 1) !important;
}

.mb-n1 {
  margin-bottom: calc(-0.25rem * 1) !important;
}

.p-1 {
  padding: calc(0.25rem * 1) !important;
}

.px-1 {
  padding-left: calc(0.25rem * 1) !important;
  padding-right: calc(0.25rem * 1) !important;
}

.py-1 {
  padding-top: calc(0.25rem * 1) !important;
  padding-bottom: calc(0.25rem * 1) !important;
}

.pl-1 {
  padding-left: calc(0.25rem * 1) !important;
}

.pr-1 {
  padding-right: calc(0.25rem * 1) !important;
}

.pt-1 {
  padding-top: calc(0.25rem * 1) !important;
}

.pb-1 {
  padding-bottom: calc(0.25rem * 1) !important;
}

.m-2 {
  margin: calc(0.25rem * 2) !important;
}

.mx-2 {
  margin-left: calc(0.25rem * 2) !important;
  margin-right: calc(0.25rem * 2) !important;
}

.my-2 {
  margin-top: calc(0.25rem * 2) !important;
  margin-bottom: calc(0.25rem * 2) !important;
}

.ml-2 {
  margin-left: calc(0.25rem * 2) !important;
}

.mr-2 {
  margin-right: calc(0.25rem * 2) !important;
}

.mt-2 {
  margin-top: calc(0.25rem * 2) !important;
}

.mb-2 {
  margin-bottom: calc(0.25rem * 2) !important;
}

.m-n2 {
  margin: calc(-0.25rem * 2) !important;
}

.mx-n2 {
  margin-left: calc(-0.25rem * 2) !important;
  margin-right: calc(-0.25rem * 2) !important;
}

.my-n2 {
  margin-top: calc(-0.25rem * 2) !important;
  margin-bottom: calc(-0.25rem * 2) !important;
}

.ml-n2 {
  margin-left: calc(-0.25rem * 2) !important;
}

.mr-n2 {
  margin-right: calc(-0.25rem * 2) !important;
}

.mt-n2 {
  margin-top: calc(-0.25rem * 2) !important;
}

.mb-n2 {
  margin-bottom: calc(-0.25rem * 2) !important;
}

.p-2 {
  padding: calc(0.25rem * 2) !important;
}

.px-2 {
  padding-left: calc(0.25rem * 2) !important;
  padding-right: calc(0.25rem * 2) !important;
}

.py-2 {
  padding-top: calc(0.25rem * 2) !important;
  padding-bottom: calc(0.25rem * 2) !important;
}

.pl-2 {
  padding-left: calc(0.25rem * 2) !important;
}

.pr-2 {
  padding-right: calc(0.25rem * 2) !important;
}

.pt-2 {
  padding-top: calc(0.25rem * 2) !important;
}

.pb-2 {
  padding-bottom: calc(0.25rem * 2) !important;
}

.m-3 {
  margin: calc(0.25rem * 3) !important;
}

.mx-3 {
  margin-left: calc(0.25rem * 3) !important;
  margin-right: calc(0.25rem * 3) !important;
}

.my-3 {
  margin-top: calc(0.25rem * 3) !important;
  margin-bottom: calc(0.25rem * 3) !important;
}

.ml-3 {
  margin-left: calc(0.25rem * 3) !important;
}

.mr-3 {
  margin-right: calc(0.25rem * 3) !important;
}

.mt-3 {
  margin-top: calc(0.25rem * 3) !important;
}

.mb-3 {
  margin-bottom: calc(0.25rem * 3) !important;
}

.m-n3 {
  margin: calc(-0.25rem * 3) !important;
}

.mx-n3 {
  margin-left: calc(-0.25rem * 3) !important;
  margin-right: calc(-0.25rem * 3) !important;
}

.my-n3 {
  margin-top: calc(-0.25rem * 3) !important;
  margin-bottom: calc(-0.25rem * 3) !important;
}

.ml-n3 {
  margin-left: calc(-0.25rem * 3) !important;
}

.mr-n3 {
  margin-right: calc(-0.25rem * 3) !important;
}

.mt-n3 {
  margin-top: calc(-0.25rem * 3) !important;
}

.mb-n3 {
  margin-bottom: calc(-0.25rem * 3) !important;
}

.p-3 {
  padding: calc(0.25rem * 3) !important;
}

.px-3 {
  padding-left: calc(0.25rem * 3) !important;
  padding-right: calc(0.25rem * 3) !important;
}

.py-3 {
  padding-top: calc(0.25rem * 3) !important;
  padding-bottom: calc(0.25rem * 3) !important;
}

.pl-3 {
  padding-left: calc(0.25rem * 3) !important;
}

.pr-3 {
  padding-right: calc(0.25rem * 3) !important;
}

.pt-3 {
  padding-top: calc(0.25rem * 3) !important;
}

.pb-3 {
  padding-bottom: calc(0.25rem * 3) !important;
}

.m-4 {
  margin: calc(0.25rem * 4) !important;
}

.mx-4 {
  margin-left: calc(0.25rem * 4) !important;
  margin-right: calc(0.25rem * 4) !important;
}

.my-4 {
  margin-top: calc(0.25rem * 4) !important;
  margin-bottom: calc(0.25rem * 4) !important;
}

.ml-4 {
  margin-left: calc(0.25rem * 4) !important;
}

.mr-4 {
  margin-right: calc(0.25rem * 4) !important;
}

.mt-4 {
  margin-top: calc(0.25rem * 4) !important;
}

.mb-4 {
  margin-bottom: calc(0.25rem * 4) !important;
}

.m-n4 {
  margin: calc(-0.25rem * 4) !important;
}

.mx-n4 {
  margin-left: calc(-0.25rem * 4) !important;
  margin-right: calc(-0.25rem * 4) !important;
}

.my-n4 {
  margin-top: calc(-0.25rem * 4) !important;
  margin-bottom: calc(-0.25rem * 4) !important;
}

.ml-n4 {
  margin-left: calc(-0.25rem * 4) !important;
}

.mr-n4 {
  margin-right: calc(-0.25rem * 4) !important;
}

.mt-n4 {
  margin-top: calc(-0.25rem * 4) !important;
}

.mb-n4 {
  margin-bottom: calc(-0.25rem * 4) !important;
}

.p-4 {
  padding: calc(0.25rem * 4) !important;
}

.px-4 {
  padding-left: calc(0.25rem * 4) !important;
  padding-right: calc(0.25rem * 4) !important;
}

.py-4 {
  padding-top: calc(0.25rem * 4) !important;
  padding-bottom: calc(0.25rem * 4) !important;
}

.pl-4 {
  padding-left: calc(0.25rem * 4) !important;
}

.pr-4 {
  padding-right: calc(0.25rem * 4) !important;
}

.pt-4 {
  padding-top: calc(0.25rem * 4) !important;
}

.pb-4 {
  padding-bottom: calc(0.25rem * 4) !important;
}

.m-5 {
  margin: calc(0.25rem * 5) !important;
}

.mx-5 {
  margin-left: calc(0.25rem * 5) !important;
  margin-right: calc(0.25rem * 5) !important;
}

.my-5 {
  margin-top: calc(0.25rem * 5) !important;
  margin-bottom: calc(0.25rem * 5) !important;
}

.ml-5 {
  margin-left: calc(0.25rem * 5) !important;
}

.mr-5 {
  margin-right: calc(0.25rem * 5) !important;
}

.mt-5 {
  margin-top: calc(0.25rem * 5) !important;
}

.mb-5 {
  margin-bottom: calc(0.25rem * 5) !important;
}

.m-n5 {
  margin: calc(-0.25rem * 5) !important;
}

.mx-n5 {
  margin-left: calc(-0.25rem * 5) !important;
  margin-right: calc(-0.25rem * 5) !important;
}

.my-n5 {
  margin-top: calc(-0.25rem * 5) !important;
  margin-bottom: calc(-0.25rem * 5) !important;
}

.ml-n5 {
  margin-left: calc(-0.25rem * 5) !important;
}

.mr-n5 {
  margin-right: calc(-0.25rem * 5) !important;
}

.mt-n5 {
  margin-top: calc(-0.25rem * 5) !important;
}

.mb-n5 {
  margin-bottom: calc(-0.25rem * 5) !important;
}

.p-5 {
  padding: calc(0.25rem * 5) !important;
}

.px-5 {
  padding-left: calc(0.25rem * 5) !important;
  padding-right: calc(0.25rem * 5) !important;
}

.py-5 {
  padding-top: calc(0.25rem * 5) !important;
  padding-bottom: calc(0.25rem * 5) !important;
}

.pl-5 {
  padding-left: calc(0.25rem * 5) !important;
}

.pr-5 {
  padding-right: calc(0.25rem * 5) !important;
}

.pt-5 {
  padding-top: calc(0.25rem * 5) !important;
}

.pb-5 {
  padding-bottom: calc(0.25rem * 5) !important;
}

.m-6 {
  margin: calc(0.25rem * 6) !important;
}

.mx-6 {
  margin-left: calc(0.25rem * 6) !important;
  margin-right: calc(0.25rem * 6) !important;
}

.my-6 {
  margin-top: calc(0.25rem * 6) !important;
  margin-bottom: calc(0.25rem * 6) !important;
}

.ml-6 {
  margin-left: calc(0.25rem * 6) !important;
}

.mr-6 {
  margin-right: calc(0.25rem * 6) !important;
}

.mt-6 {
  margin-top: calc(0.25rem * 6) !important;
}

.mb-6 {
  margin-bottom: calc(0.25rem * 6) !important;
}

.m-n6 {
  margin: calc(-0.25rem * 6) !important;
}

.mx-n6 {
  margin-left: calc(-0.25rem * 6) !important;
  margin-right: calc(-0.25rem * 6) !important;
}

.my-n6 {
  margin-top: calc(-0.25rem * 6) !important;
  margin-bottom: calc(-0.25rem * 6) !important;
}

.ml-n6 {
  margin-left: calc(-0.25rem * 6) !important;
}

.mr-n6 {
  margin-right: calc(-0.25rem * 6) !important;
}

.mt-n6 {
  margin-top: calc(-0.25rem * 6) !important;
}

.mb-n6 {
  margin-bottom: calc(-0.25rem * 6) !important;
}

.p-6 {
  padding: calc(0.25rem * 6) !important;
}

.px-6 {
  padding-left: calc(0.25rem * 6) !important;
  padding-right: calc(0.25rem * 6) !important;
}

.py-6 {
  padding-top: calc(0.25rem * 6) !important;
  padding-bottom: calc(0.25rem * 6) !important;
}

.pl-6 {
  padding-left: calc(0.25rem * 6) !important;
}

.pr-6 {
  padding-right: calc(0.25rem * 6) !important;
}

.pt-6 {
  padding-top: calc(0.25rem * 6) !important;
}

.pb-6 {
  padding-bottom: calc(0.25rem * 6) !important;
}

.alert {
  padding: 0.5626rem 0.5626rem;
  border-radius: 0.25rem;
}

.alert .alert-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.alert:has(.alert-title) {
  padding: 1.25rem;
}

.alert.alert-primary {
  background-color: rgba(0, 141, 255, 0.3);
  color: #008dff;
  border: 1px solid #008dff;
}

.alert.alert-secondary {
  background-color: rgba(255, 0, 113, 0.3);
  color: #ff0071;
  border: 1px solid #ff0071;
}

.alert.alert-success {
  background-color: rgba(0, 206, 154, 0.3);
  color: #00ce9a;
  border: 1px solid #00ce9a;
}

.alert.alert-warning {
  background-color: rgba(251, 196, 69, 0.3);
  color: #fbc445;
  border: 1px solid #fbc445;
}

.alert.alert-danger {
  background-color: rgba(255, 0, 113, 0.3);
  color: #ff0071;
  border: 1px solid #ff0071;
}

.alert.alert-disabled {
  background-color: rgba(175, 168, 186, 0.3);
  color: #afa8ba;
  border: 1px solid #afa8ba;
}

.btn {
  display: inline-block;
  padding: 0.5626rem 1.25rem;
  background-color: #fff;
  border: 1px solid #292929;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border 0.15s ease-in-out;
}

.btn.btn-primary {
  background-color: #008dff;
  color: #fff;
  border-color: #008dff;
}

.btn.btn-primary:focus {
  outline: 4px solid rgba(0, 141, 255, 0.5);
}

.btn.btn-primary:hover {
  background-clip: padding-box;
  background-color: rgba(0, 141, 255, 0.75);
  border-color: rgba(0, 141, 255, 0.75);
}

.btn.btn-primary.btn-outline {
  background-color: #fff;
  color: #008dff;
  border-color: #008dff;
}

.btn.btn-primary.btn-outline:focus {
  outline: 4px solid rgba(0, 141, 255, 0.5);
}

.btn.btn-primary.btn-outline:hover {
  background-color: #008dff;
  color: #fff;
}

.btn.btn-secondary {
  background-color: #ff0071;
  color: #fff;
  border-color: #ff0071;
}

.btn.btn-secondary:focus {
  outline: 4px solid rgba(255, 0, 113, 0.5);
}

.btn.btn-secondary:hover {
  background-clip: padding-box;
  background-color: rgba(255, 0, 113, 0.75);
  border-color: rgba(255, 0, 113, 0.75);
}

.btn.btn-secondary.btn-outline {
  background-color: #fff;
  color: #ff0071;
  border-color: #ff0071;
}

.btn.btn-secondary.btn-outline:focus {
  outline: 4px solid rgba(255, 0, 113, 0.5);
}

.btn.btn-secondary.btn-outline:hover {
  background-color: #ff0071;
  color: #fff;
}

.btn.btn-success {
  background-color: #00ce9a;
  color: #fff;
  border-color: #00ce9a;
}

.btn.btn-success:focus {
  outline: 4px solid rgba(0, 206, 154, 0.5);
}

.btn.btn-success:hover {
  background-clip: padding-box;
  background-color: rgba(0, 206, 154, 0.75);
  border-color: rgba(0, 206, 154, 0.75);
}

.btn.btn-success.btn-outline {
  background-color: #fff;
  color: #00ce9a;
  border-color: #00ce9a;
}

.btn.btn-success.btn-outline:focus {
  outline: 4px solid rgba(0, 206, 154, 0.5);
}

.btn.btn-success.btn-outline:hover {
  background-color: #00ce9a;
  color: #fff;
}

.btn.btn-warning {
  background-color: #fbc445;
  color: #fff;
  border-color: #fbc445;
}

.btn.btn-warning:focus {
  outline: 4px solid rgba(251, 196, 69, 0.5);
}

.btn.btn-warning:hover {
  background-clip: padding-box;
  background-color: rgba(251, 196, 69, 0.75);
  border-color: rgba(251, 196, 69, 0.75);
}

.btn.btn-warning.btn-outline {
  background-color: #fff;
  color: #fbc445;
  border-color: #fbc445;
}

.btn.btn-warning.btn-outline:focus {
  outline: 4px solid rgba(251, 196, 69, 0.5);
}

.btn.btn-warning.btn-outline:hover {
  background-color: #fbc445;
  color: #fff;
}

.btn.btn-danger {
  background-color: #ff0071;
  color: #fff;
  border-color: #ff0071;
}

.btn.btn-danger:focus {
  outline: 4px solid rgba(255, 0, 113, 0.5);
}

.btn.btn-danger:hover {
  background-clip: padding-box;
  background-color: rgba(255, 0, 113, 0.75);
  border-color: rgba(255, 0, 113, 0.75);
}

.btn.btn-danger.btn-outline {
  background-color: #fff;
  color: #ff0071;
  border-color: #ff0071;
}

.btn.btn-danger.btn-outline:focus {
  outline: 4px solid rgba(255, 0, 113, 0.5);
}

.btn.btn-danger.btn-outline:hover {
  background-color: #ff0071;
  color: #fff;
}

.btn.btn-disabled {
  background-color: #afa8ba;
  color: #fff;
  border-color: #afa8ba;
  outline: none;
  cursor: not-allowed;
}

.btn.btn-disabled:hover {
  background-color: #afa8ba;
}

.btn.btn-disabled.btn-outline {
  background-color: #fff;
  color: #afa8ba;
  border-color: #afa8ba;
  outline: none;
  cursor: not-allowed;
}

.btn.btn-link {
  background-color: #fff;
  color: #008dff;
  border-color: #fff;
}

.btn.btn-link:focus {
  outline: 4px solid rgba(0, 141, 255, 0.5);
}

.btn.btn-link.btn-outline {
  background-color: #fff;
  color: #008dff;
  border-color: #008dff;
}

.btn.btn-link.btn-outline:focus {
  outline: 4px solid rgba(0, 141, 255, 0.5);
}

.btn.btn-rounded {
  border-radius: 9999px;
}

.btn.btn-square {
  border-radius: 0;
}

.card {
  padding: 1.25rem;
  border: 1px solid #e9e9e9;
  border-radius: 0.5rem;
}

.card.no-border {
  border: none;
  box-shadow: 0 3px 6px 0 rgba(41, 41, 41, 0.1), 0 5px 12px 4px rgba(41, 41, 41, 0.05);
}

.card.no-border .card-title {
  border: none;
}

.card.no-border .card-thumb {
  border-radius: 0.5rem;
}

.card:has(.card-title), .card:has(.card-content) {
  padding: 0;
}

.card .card-title {
  padding: 1.25rem;
  font-size: 1.25rem;
  border-bottom: 1px solid #e9e9e9;
}

.card .card-thumb {
  border-radius: 0.5rem;
  overflow: hidden;
}

.card .card-content {
  padding: 1.25rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-menu {
  display: inline-block;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: calc(100% + 0.25rem);
  left: 0;
  padding: 0.25rem;
  background-color: #fff;
  box-shadow: 0 2px 4px #afa8ba;
  border-radius: 0.25rem;
  display: none;
}

.dropdown .dropdown-menu::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 0.25rem;
}

.dropdown .dropdown-menu .dropdown-menu-item {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.dropdown .dropdown-menu .dropdown-menu-item:hover {
  background-color: #e9e9e9;
}

.pagination {
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.15s ease-in-out;
}

.pagination .pagination-item,
.pagination .pagination-ellipsis,
.pagination .pagination-control {
  padding: 0 0.375rem;
  height: 2rem;
  color: #292929;
  text-align: center;
  line-height: 2rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  user-select: none;
}

.pagination .pagination-item.active,
.pagination .pagination-control.active {
  color: #008dff;
  border-color: #008dff;
  cursor: default;
}

.pagination .pagination-item.disabled,
.pagination .pagination-control.disabled {
  background-color: #e9e9e9;
  cursor: not-allowed;
}

.pagination .pagination-item:hover:not(.active):not(.disabled):not(.pagination-ellipsis),
.pagination .pagination-control:hover:not(.active):not(.disabled):not(.pagination-ellipsis) {
  background-color: #e9e9e9;
}

.pagination .pagination-item:not(:first-child),
.pagination .pagination-control:not(:first-child) {
  margin-left: 8px;
}

.pagination .pagination-item {
  min-width: 2rem;
}

.pagination .pagination-control {
  min-width: min-content;
}

.pagination .pagination-ellipsis {
  color: #afa8ba;
  cursor: default;
}

.table {
  min-width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table thead th {
  background-color: rgba(233, 233, 233, 0.3);
}

.table tr th,
.table tr td {
  padding: 1rem 1rem;
  border-top: 1px solid #e9e9e9;
}

.table tr td {
  background-color: #fff;
}

.table.table-bordered tr th,
.table.table-bordered tr td {
  border-left: 1px solid #e9e9e9;
}

.table.table-bordered tr th:last-child,
.table.table-bordered tr td:last-child {
  border-right: 1px solid #e9e9e9;
}

.table.table-bordered tr:last-child td {
  border-bottom: 1px solid #e9e9e9;
}

.table.table-striped thead th {
  background-color: #fff;
}

.table.table-striped tr:nth-child(odd) td {
  background-color: rgba(233, 233, 233, 0.3);
}

.table.table-hover td {
  transition: background-color 0.15s ease-in-out;
}

.table.table-hover tr:hover td {
  background-color: rgba(233, 233, 233, 0.3);
}

.tag {
  display: inline-block;
  padding: 0.25rem 0.25rem;
  background-color: #fff;
  font-size: 0.75rem;
  border: 1px solid #e9e9e9;
  border-radius: 0.25rem;
}

.tag.tag-primary {
  background-color: rgba(0, 141, 255, 0.2);
  color: #008dff;
  border-color: #008dff;
}

.tag.tag-primary.tag-fill {
  background-color: #008dff;
  color: #fff;
  border-color: #008dff;
}

.tag.tag-secondary {
  background-color: rgba(255, 0, 113, 0.2);
  color: #ff0071;
  border-color: #ff0071;
}

.tag.tag-secondary.tag-fill {
  background-color: #ff0071;
  color: #fff;
  border-color: #ff0071;
}

.tag.tag-success {
  background-color: rgba(0, 206, 154, 0.2);
  color: #00ce9a;
  border-color: #00ce9a;
}

.tag.tag-success.tag-fill {
  background-color: #00ce9a;
  color: #fff;
  border-color: #00ce9a;
}

.tag.tag-warning {
  background-color: rgba(251, 196, 69, 0.2);
  color: #fbc445;
  border-color: #fbc445;
}

.tag.tag-warning.tag-fill {
  background-color: #fbc445;
  color: #fff;
  border-color: #fbc445;
}

.tag.tag-danger {
  background-color: rgba(255, 0, 113, 0.2);
  color: #ff0071;
  border-color: #ff0071;
}

.tag.tag-danger.tag-fill {
  background-color: #ff0071;
  color: #fff;
  border-color: #ff0071;
}

.tag.tag-disabled {
  background-color: rgba(175, 168, 186, 0.2);
  color: #afa8ba;
  border-color: #afa8ba;
}

.tag.tag-disabled.tag-fill {
  background-color: #afa8ba;
  color: #fff;
  border-color: #afa8ba;
}

.tag.tag-blue {
  background-color: rgba(0, 141, 255, 0.2);
  color: #008dff;
  border-color: #008dff;
}

.tag.tag-blue.tag-fill {
  background-color: #008dff;
  color: #fff;
  border-color: #008dff;
}

.tag.tag-pink {
  background-color: rgba(236, 0, 184, 0.2);
  color: #ec00b8;
  border-color: #ec00b8;
}

.tag.tag-pink.tag-fill {
  background-color: #ec00b8;
  color: #fff;
  border-color: #ec00b8;
}

.tag.tag-red {
  background-color: rgba(255, 0, 113, 0.2);
  color: #ff0071;
  border-color: #ff0071;
}

.tag.tag-red.tag-fill {
  background-color: #ff0071;
  color: #fff;
  border-color: #ff0071;
}

.tag.tag-orange {
  background-color: rgba(255, 104, 62, 0.2);
  color: #ff683e;
  border-color: #ff683e;
}

.tag.tag-orange.tag-fill {
  background-color: #ff683e;
  color: #fff;
  border-color: #ff683e;
}

.tag.tag-yellow {
  background-color: rgba(251, 196, 69, 0.2);
  color: #fbc445;
  border-color: #fbc445;
}

.tag.tag-yellow.tag-fill {
  background-color: #fbc445;
  color: #fff;
  border-color: #fbc445;
}

.tag.tag-green {
  background-color: rgba(0, 206, 154, 0.2);
  color: #00ce9a;
  border-color: #00ce9a;
}

.tag.tag-green.tag-fill {
  background-color: #00ce9a;
  color: #fff;
  border-color: #00ce9a;
}

.tag.tag-black {
  background-color: rgba(0, 0, 0, 0.2);
  color: #000;
  border-color: #000;
}

.tag.tag-black.tag-fill {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.tag.tag-dark {
  background-color: rgba(41, 41, 41, 0.2);
  color: #292929;
  border-color: #292929;
}

.tag.tag-dark.tag-fill {
  background-color: #292929;
  color: #fff;
  border-color: #292929;
}

.tag.tag-light {
  background-color: rgba(233, 233, 233, 0.2);
  color: #292929;
  border-color: #e9e9e9;
}

.tag.tag-gray {
  background-color: rgba(175, 168, 186, 0.2);
  color: #afa8ba;
  border-color: #afa8ba;
}

.tag.tag-gray.tag-fill {
  background-color: #afa8ba;
  color: #fff;
  border-color: #afa8ba;
}

.tag.tag-rounded {
  border-radius: 9999px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-content {
  display: none;
  padding: 0.5rem;
  width: auto;
  background-color: #292929;
  color: #e9e9e9;
  border-radius: 0.25rem;
  z-index: 1;
  position: absolute;
}

.tooltip:hover .tooltip-content {
  display: inline-block;
}

.tooltip.tooltip-top-left .tooltip-content {
  bottom: calc(100% + 0.5rem);
  left: 0;
}

.tooltip.tooltip-top-left .tooltip-content:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0.5rem;
  border: 0.5rem solid transparent;
  border-top-color: #292929;
}

.tooltip.tooltip-top .tooltip-content {
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.tooltip-top .tooltip-content:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 0.5rem solid transparent;
  border-top-color: #292929;
}

.tooltip.tooltip-top-right .tooltip-content {
  bottom: calc(100% + 0.5rem);
  right: 0;
}

.tooltip.tooltip-top-right .tooltip-content:before {
  content: '';
  position: absolute;
  top: 100%;
  right: 0.5rem;
  border: 0.5rem solid transparent;
  border-top-color: #292929;
}

.tooltip.tooltip-bottom-left .tooltip-content {
  top: calc(100% + 0.5rem);
  left: 0;
}

.tooltip.tooltip-bottom-left .tooltip-content:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0.5rem;
  border: 0.5rem solid transparent;
  border-bottom-color: #292929;
}

.tooltip.tooltip-bottom .tooltip-content {
  top: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.tooltip-bottom .tooltip-content:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 0.5rem solid transparent;
  border-bottom-color: #292929;
}

.tooltip.tooltip-bottom-right .tooltip-content {
  top: calc(100% + 0.5rem);
  right: 0;
}

.tooltip.tooltip-bottom-right .tooltip-content:before {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 0.5rem;
  border: 0.5rem solid transparent;
  border-bottom-color: #292929;
}

.tooltip.tooltip-left-top .tooltip-content {
  top: 0;
  right: calc(100% + 0.5rem);
}

.tooltip.tooltip-left-top .tooltip-content:before {
  content: '';
  position: absolute;
  left: 100%;
  top: 0.5rem;
  border: 0.5rem solid transparent;
  border-left-color: #292929;
}

.tooltip.tooltip-left .tooltip-content {
  top: 50%;
  right: calc(100% + 0.5rem);
  transform: translateY(-50%);
}

.tooltip.tooltip-left .tooltip-content:before {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 0.5rem solid transparent;
  border-left-color: #292929;
}

.tooltip.tooltip-left-bottom .tooltip-content {
  bottom: 0;
  right: calc(100% + 0.5rem);
}

.tooltip.tooltip-left-bottom .tooltip-content:before {
  content: '';
  position: absolute;
  left: 100%;
  bottom: 0.5rem;
  border: 0.5rem solid transparent;
  border-left-color: #292929;
}

.tooltip.tooltip-right-top .tooltip-content {
  top: 0;
  left: calc(100% + 0.5rem);
}

.tooltip.tooltip-right-top .tooltip-content:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 0.5rem;
  border: 0.5rem solid transparent;
  border-right-color: #292929;
}

.tooltip.tooltip-right .tooltip-content {
  top: 50%;
  left: calc(100% + 0.5rem);
  transform: translateY(-50%);
}

.tooltip.tooltip-right .tooltip-content:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 0.5rem solid transparent;
  border-right-color: #292929;
}

.tooltip.tooltip-right-bottom .tooltip-content {
  bottom: 0;
  left: calc(100% + 0.5rem);
}

.tooltip.tooltip-right-bottom .tooltip-content:before {
  content: '';
  position: absolute;
  right: 100%;
  bottom: 0.5rem;
  border: 0.5rem solid transparent;
  border-right-color: #292929;
}
