// colors
$blue: #008dff;
$pink: #ec00b8;
$red: #ff0071;
$orange: #ff683e;
$yellow: #fbc445;
$green: #00ce9a;
$black: #000;
$white: #fff;
$dark: #292929;
$light: #e9e9e9;
$gray: #afa8ba;

$colors: (
  'blue': $blue,
  'pink': $pink,
  'red': $red,
  'orange': $orange,
  'yellow': $yellow,
  'green': $green,
  'black': $black,
  'white': $white,
  'dark': $dark,
  'light': $light,
  'gray': $gray,
);

// state colors
$primary: $blue;
$secondary: $red;
$success: $green;
$warning: $yellow;
$danger: $red;
$disabled: $gray;

$state-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'warning': $warning,
  'danger': $danger,
  'disabled': $disabled,
);

// alignment
$alignments: (
  'left': left,
  'right': right,
  'center': center,
);

// breakpoints
$xs: 0;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;

$breakpoints: (
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl,
);

// base
$primary-text-color: $dark;
$primary-font-family: sans-serif;
$primary-font-size: 1rem;
$title-font-size: 1.25rem;
$border-radius: 0.25rem;
$border-radius-large: 0.5rem;
$border-color: $light;

// spacing
$unit: 0.25rem;

// input
$input-padding-x: 1.25rem;
$input-padding-y: 0.5626rem;
$input-border-radius: $border-radius;

// alert
$alert-padding-x: $input-padding-y;
$alert-padding-y: $input-padding-y;
$alert-padding-with-title: $title-font-size;

$alert-border-radius: $border-radius;
$alert-title-font-size: $title-font-size;
$alert-title-font-weight: bold;
$alert-title-margin-bottom: 0.5rem;

$alert-variants: (
  'primary': $blue,
  'secondary': $red,
  'success': $green,
  'warning': $yellow,
  'danger': $red,
  'disabled': $gray,
);

// button
$btn-padding-x: $input-padding-x;
$btn-padding-y: $input-padding-y;
$btn-background: $white;
$btn-border-radius: $border-radius;

$btn-variants: (
  'primary': $blue,
  'secondary': $red,
  'success': $green,
  'warning': $yellow,
  'danger': $red,
  'disabled': $gray,
);

// card
$card-padding: 1.25rem;
$card-border-color: $border-color;
$card-border-radius: $border-radius-large;
$card-title-font-size: $title-font-size;

// tag
$tag-padding-x: 0.25rem;
$tag-padding-y: 0.25rem;
$tag-font-size: 0.75rem;
$tag-border: $light;
$tag-border-radius: $border-radius;

$tag-variants: (
  'primary': $blue,
  'secondary': $red,
  'success': $green,
  'warning': $yellow,
  'danger': $red,
  'disabled': $gray,
);

$table-border-color: $border-color;
$table-head-background: rgba($light, 0.3);
$table-cell-background: $white;
$table-cell-padding-x: 1rem;
$table-cell-padding-y: 1rem;
$table-striped-background: rgba($light, 0.3);
$table-hover-background: $table-striped-background;

// tooltip
$tooltip-padding: 0.5rem;
$tooltip-background: $dark;
$tooltip-text-color: $light;
$tooltip-border-radius: $border-radius;
$tooltip-caret-spacing: 0.5rem;
$tooltip-caret-border-width: $tooltip-caret-spacing;

// display, add more values later
$displays: (
  'block': block,
  'inline': inline,
  'inline-block': inline-block,
  'flex': flex,
  'inline-flex': inline-flex,
);

$properties: (
  'align-content': (
    center: center,
    start: flex-start,
    end: flex-end,
    normal: normal,
    baseline: baseline,
  ),
  'align-items': (
    center: center,
    start: flex-start,
    end: flex-end,
    normal: normal,
    baseline: baseline,
  ),
  'align-self': (
    center: center,
    start: flex-start,
    end: flex-end,
    normal: normal,
    baseline: baseline,
  ),
  'justify-content': (
    center: center,
    start: flex-start,
    end: flex-end,
    normal: normal,
    baseline: baseline,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
  ),
  'justify-items': (
    center: center,
    start: flex-start,
    end: flex-end,
    normal: normal,
    baseline: baseline,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
  ),
  'justify-self': (
    center: center,
    start: flex-start,
    end: flex-end,
    normal: normal,
    baseline: baseline,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
  ),
);
