<html>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Card</h1>
    <h2>Example 1</h2>
    <div class="p-4">
      <div class="card" style="width: 300px">
        <p>Content 1</p>
        <p>Content 2</p>
        <p>Content 3</p>
      </div>
    </div>

    <h2>Example 2: With title</h2>
    <div class="p-4">
      <div class="card" style="width: 300px">
        <div class="card-title">Card title</div>
        <div class="card-content">
          <p>Content 1</p>
          <p>Content 2</p>
          <p>Content 3</p>
        </div>
      </div>
    </div>

    <h2>Example 3: With thumbnail</h2>
    <div class="p-4">
      <div class="card" style="width: 300px">
        <div class="card-thumb">
          <img src="https://via.placeholder.com/300x200" alt="" width="100%" />
        </div>
        <div class="card-content">
          <p>Content 1</p>
          <p>Content 2</p>
          <p>Content 3</p>
        </div>
      </div>
    </div>

    <h2>Example 4: No border</h2>
    <div class="p-4">
      <div class="row">
        <div class="col">
          <div class="card no-border" style="width: 300px">
            <div class="card-thumb">
              <img
                src="https://via.placeholder.com/300x200"
                alt=""
                width="100%"
              />
            </div>
            <div class="card-content">
              <p>Content 1</p>
              <p>Content 2</p>
              <p>Content 3</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card no-border" style="width: 300px">
            <div class="card-title">Card title</div>
            <div class="card-content">
              <p>Content 1</p>
              <p>Content 2</p>
              <p>Content 3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
