<html>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Card</h1>
    <h2>Example 1</h2>
    <div class="p-4">
      <div class="card-2" style="width: 400px">
        <div class="card-thumb">
          <img src="https://dummyimage.com/400x220/ccc/fff" alt="" />
          <div class="card-cta">Hello</div>
        </div>

        <div class="card-title">
          <h2>Card title</h2>
        </div>

        <div class="card-content">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </div>
      </div>
    </div>
  </body>
</html>
