<html>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Grid</h1>
    <h2>Example 1</h2>
    <div class="row">
      <div class="col bg-red p-4">.col</div>
      <div class="col bg-blue p-4">.col</div>
      <div class="col bg-yellow p-4">.col</div>
      <div class="col bg-green p-4">.col</div>
    </div>

    <h2>Example 2</h2>
    <div class="row">
      <div class="col-9 bg-red p-4">.col-9</div>
      <div class="col-5 bg-blue p-4">.col-5</div>
      <div class="col-3 bg-yellow p-4">.col-3</div>
      <div class="col-7 bg-green p-4">.col-7</div>
    </div>

    <h2>Example 3</h2>
    <div class="row">
      <div class="col-12 col-sm-6 bg-red p-4">.col-12.col-md-6</div>
      <div class="col-12 col-sm-6 bg-blue p-4">.col-12.col-md-6</div>
      <div class="col-12 col-sm-6 bg-yellow p-4">.col-12.col-md-6</div>
      <div class="col-12 col-sm-6 bg-green p-4">.col-12.col-md-6</div>
    </div>
  </body>
</html>
