<html>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Pagination</h1>
    <h2>Example 1</h2>
    <div class="p-4">
      <div class="pagination">
        <div class="pagination-control">Previous</div>
        <div class="pagination-item">1</div>
        <div class="pagination-ellipsis">•••</div>
        <div class="pagination-item">3</div>
        <div class="pagination-item">4</div>
        <div class="pagination-item active">5</div>
        <div class="pagination-item disabled">6</div>
        <div class="pagination-item">7</div>
        <div class="pagination-ellipsis">•••</div>
        <div class="pagination-item">10</div>
        <div class="pagination-control">Next</div>
      </div>
    </div>
  </body>
</html>
