<html>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Tag</h1>
    <h2>State tags</h2>
    <div>
      <div class="tag">Default</div>
      <div class="tag tag-primary">Primary</div>
      <div class="tag tag-warning">Warning</div>
      <div class="tag tag-danger">Danger</div>
      <div class="tag tag-success">Success</div>
      <div class="tag tag-disabled">Disabled</div>
    </div>

    <h2>Color tags</h2>
    <div>
      <div class="tag tag-blue">blue</div>
      <div class="tag tag-pink">pink</div>
      <div class="tag tag-red">red</div>
      <div class="tag tag-orange">orange</div>
      <div class="tag tag-yellow">yellow</div>
      <div class="tag tag-green">green</div>
      <div class="tag tag-black">black</div>
      <div class="tag tag-dark">dark</div>
      <div class="tag tag-light">light</div>
      <div class="tag tag-gray">gray</div>
    </div>

    <h2>Rounded</h2>
    <div>
      <div class="tag tag-rounded tag-blue">blue</div>
      <div class="tag tag-rounded tag-pink">pink</div>
      <div class="tag tag-rounded tag-red">red</div>
      <div class="tag tag-rounded tag-orange">orange</div>
      <div class="tag tag-rounded tag-yellow">yellow</div>
      <div class="tag tag-rounded tag-green">green</div>
      <div class="tag tag-rounded tag-black">black</div>
      <div class="tag tag-rounded tag-dark">dark</div>
      <div class="tag tag-rounded tag-light">light</div>
      <div class="tag tag-rounded tag-gray">gray</div>
    </div>

    <h2>Fill</h2>
    <div>
      <div class="tag tag-fill">Default</div>
      <div class="tag tag-fill tag-primary">Primary</div>
      <div class="tag tag-fill tag-warning">Warning</div>
      <div class="tag tag-fill tag-danger">Danger</div>
      <div class="tag tag-fill tag-success">Success</div>
      <div class="tag tag-fill tag-disabled">Disabled</div>

      <div class="tag tag-fill tag-blue">blue</div>
      <div class="tag tag-fill tag-pink">pink</div>
      <div class="tag tag-fill tag-red">red</div>
      <div class="tag tag-fill tag-orange">orange</div>
      <div class="tag tag-fill tag-yellow">yellow</div>
      <div class="tag tag-fill tag-green">green</div>
      <div class="tag tag-fill tag-black">black</div>
      <div class="tag tag-fill tag-dark">dark</div>
      <div class="tag tag-fill tag-light">light</div>
      <div class="tag tag-fill tag-gray">gray</div>
    </div>
  </body>
</html>
