<html>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Tooltip</h1>
    <h2>Example</h2>

    <div class="d-flex justify-content-between p-4">
      <div>
        <div class="tooltip tooltip-bottom-left">
          <div class="tooltip-trigger">
            <button class="btn">Bottom left</button>
          </div>
          <div class="tooltip-content" style="width: 200px">
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
          </div>
        </div>
      </div>

      <div>
        <div class="tooltip tooltip-bottom">
          <div class="tooltip-trigger">
            <button class="btn">Bottom center</button>
          </div>
          <div class="tooltip-content" style="width: 200px">
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
          </div>
        </div>
      </div>

      <div>
        <div class="tooltip tooltip-bottom-right">
          <div class="tooltip-trigger">
            <button class="btn">Bottom right</button>
          </div>
          <div class="tooltip-content" style="width: 200px">
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
          </div>
        </div>
      </div>

      <div>
        <div class="tooltip tooltip-top-left">
          <div class="tooltip-trigger">
            <button class="btn">Top left</button>
          </div>
          <div class="tooltip-content" style="width: 200px">
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
          </div>
        </div>
      </div>

      <div>
        <div class="tooltip tooltip-top">
          <div class="tooltip-trigger">
            <button class="btn">Top center</button>
          </div>
          <div class="tooltip-content" style="width: 200px">
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
          </div>
        </div>
      </div>

      <div>
        <div class="tooltip tooltip-top-right">
          <div class="tooltip-trigger">
            <button class="btn">Top right</button>
          </div>
          <div class="tooltip-content" style="width: 200px">
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
          </div>
        </div>
      </div>

      <div>
        <div class="tooltip tooltip-left-top">
          <div class="tooltip-trigger">
            <button class="btn">Left top</button>
          </div>
          <div class="tooltip-content" style="width: 200px">
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
          </div>
        </div>
      </div>

      <div>
        <div class="tooltip tooltip-left">
          <div class="tooltip-trigger">
            <button class="btn">Left center</button>
          </div>
          <div class="tooltip-content" style="width: 200px">
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
          </div>
        </div>
      </div>

      <div>
        <div class="tooltip tooltip-left-bottom">
          <div class="tooltip-trigger">
            <button class="btn">Left bottom</button>
          </div>
          <div class="tooltip-content" style="width: 200px">
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
          </div>
        </div>
      </div>

      <div>
        <div class="tooltip tooltip-right-top">
          <div class="tooltip-trigger">
            <button class="btn">Right top</button>
          </div>
          <div class="tooltip-content" style="width: 200px">
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
          </div>
        </div>
      </div>

      <div>
        <div class="tooltip tooltip-right">
          <div class="tooltip-trigger">
            <button class="btn">Right center</button>
          </div>
          <div class="tooltip-content" style="width: 200px">
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
          </div>
        </div>
      </div>

      <div>
        <div class="tooltip tooltip-right-bottom">
          <div class="tooltip-trigger">
            <button class="btn">Right bottom</button>
          </div>
          <div class="tooltip-content" style="width: 200px">
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
            <p class="m-2">Tooltip content</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
