.card-2 {
  .card-thumb {
    border-radius: 16px;
    overflow: hidden;

    position: relative;

    .card-cta {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }

    &:hover .card-cta {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}
