.table {
  min-width: 100%;
  border-collapse: collapse;
  text-align: left;

  thead {
    th {
      background-color: $table-head-background;
    }
  }

  tr {
    th,
    td {
      padding: $table-cell-padding-y $table-cell-padding-x;
      border-top: 1px solid $table-border-color;
    }

    td {
      background-color: $table-cell-background;
    }
  }

  &.table-bordered {
    tr {
      th,
      td {
        border-left: 1px solid $table-border-color;
      }

      th:last-child,
      td:last-child {
        border-right: 1px solid $table-border-color;
      }

      &:last-child {
        td {
          border-bottom: 1px solid $table-border-color;
        }
      }
    }
  }

  &.table-striped {
    thead {
      th {
        background-color: $table-cell-background;
      }
    }

    tr:nth-child(odd) {
      td {
        background-color: $table-striped-background;
      }
    }
  }

  &.table-hover {
    td {
      transition: background-color 0.3s ease-in-out;
    }

    tr:hover {
      td {
        background-color: $table-hover-background;
      }
    }
  }
}
